<div class="mt-4">
  <h3>Cập nhật khoá học</h3>
  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="form-group">
      <label for="name">Tên khoá học</label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        value="{{course.name}}"
      />
    </div>
    <div class="form-group">
      <label for="description">Mô tả</label>
      <textarea
        id="description"
        name="description"
        class="form-control"
      >{{course.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="videoID">Video ID</label>
      <input
        type="text"
        id="videoID"
        name="videoID"
        class="form-control"
        value="{{course.videoID}}"
      />
      <div class="form-group">
      <label for="level">Level</label>
      <input
        type="text"
        id="level"
        name="level"
        class="form-control"
        value="{{course.level}}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
  </form>
</div>