<form
  class="mt-4"
  name="container-form"
  method="POST"
  action="/courses/handle-form-actions"
>
  <div>
    <h3>Khoá học đã xoá</h3>
    <a href="/me/stored/courses">Quay lại</a>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input
          class="form-check-input select-all"
          type="checkbox"
          value=""
          id="checkbox-all"
        />
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>
      <select
        class="form-control checkbox-select-all-options"
        name="action"
        required
      >
        <option value="">-- Hành động --</option>
        <option value="restore">Khôi phục</option>
        <option value="forceDelete">Xoá vĩnh viễn</option>
      </select>
      <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực
        hiện</button>
    </div>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">STT</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian xoá</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input
                type="checkbox"
                name="courseIds[]"
                value="{{this._id}}"
                class="form-check-input"
              />
            </div>
          </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a
              href=""
              class="btn btn-link btn-restore"
              data-id="{{this._id}}"
            >Khôi phục</a>
            <a
              href=""
              class="btn btn-link"
              data-toggle="modal"
              data-id="{{this._id}}"
              data-target="#delete-course-modal"
            >Xoá vĩnh viễn</a>
          </td>
        </tr>

      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Thùng rác trống.
            <a href="/me/stored/courses">Quay lại</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Modal delete course }}
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá khoá học?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xoá khoá học này</p>
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete-course"
          type="button"
          class="btn btn-danger"
        >Xoá</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Huỷ</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function() { 
    let courseId;
    let btnRestore = $('.btn-restore')  
    let checkboxAll = $('#checkbox-all');
    let checkAllSubmitBtn = $('.check-all-submit-btn');
    let containerForm = $('form[name="container-form"]');
    let deleteForm = document.forms['delete-course-form'];
    let restoreForm = document.forms['restore-course-form']
    let courseItemCheckbox = $('input[name="courseIds[]"]');
    let btnDeleteCourse = document.getElementById('btn-delete-course');

    $('#delete-course-modal').on('show.bs.modal', function (event) { 
      let button=$(event.relatedTarget);
      courseId = button.data('id');
    });

    btnDeleteCourse.onclick = function() {
      deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
      deleteForm.submit();
    }

    btnRestore.click(function (e) {
      e.preventDefault();
      let courseId = $(this).data('id');
      restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreForm.submit();
    })

        // Checkbox all changed
    checkboxAll.change(function () {
      let isCheckedAll = $(this).prop('checked');
      courseItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    })

    // Course item checkbox changed
    courseItemCheckbox.change(function () {
      let isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    })

    // Check all submit button clicked
    containerForm.on('submit', function (e) {       
      let isSubmittable = !checkAllSubmitBtn.hasClass('disabled');
      if(!isSubmittable) {
        e.preventDefault();
      }
    })

    // Re-render check all submit btn
    function renderCheckAllSubmitBtn() {
      let checkedCount = $('input[name="courseIds[]"]:checked').length;
      if(checkedCount > 0) {
        checkAllSubmitBtn.attr('disabled', false);
      } else {
        checkAllSubmitBtn.attr('disabled', true);
      }
    }
  })
</script>